In [1]:
import pandas as pd
import gtfs_kit as gk

feed = gk.read_feed("./data/gtfs_fp2024_2024-06-27", dist_units='km')
feed.describe()

In [2]:
agency = pd.read_csv("./data/gtfs_fp2024_2024-06-27/agency.txt")
stops = pd.read_csv("./data/gtfs_fp2024_2024-06-27/stops.txt")
routes = pd.read_csv("./data/gtfs_fp2024_2024-06-27/routes.txt")
trips = pd.read_csv("./data/gtfs_fp2024_2024-06-27/trips.txt")
stop_times = pd.read_csv(
    "./data/gtfs_fp2024_2024-06-27/stop_times.txt",
#    dtype={
#        "trip_id": "category",
#        "stop_id": "category",
#        "pickup_type": "category",
#        "drop_off_type": "category",
#    },
)

In [27]:
stop_id2stop_name = stops.set_index("stop_id")["stop_name"].to_dict()

In [23]:
local_stops_ids = [
    "8501124:0:1", # Cully, voie 1?
    "8501124:0:2", # Cully, voie 2?
    "8501124:0:3", # Cully, voie 3?
    "8570559", # Cully gare Post?
    "8501125:0:1", # Epesses CFF, voie 1?
    "8501125:0:2", # Epesses CFF, voie 2?
    "8510137", # Epesses, gare Post?
    "8570561", # Epesses, village
]

In [36]:
stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,1.TA.91-10-A-j24-1.1.H,14:37:00,14:37:00,8503054:0:1,1,0,0
1,1.TA.91-10-A-j24-1.1.H,14:38:00,14:38:00,8503053:0:1,2,0,0
2,1.TA.91-10-A-j24-1.1.H,14:39:00,14:39:00,8503052:0:1,3,0,0
3,1.TA.91-10-A-j24-1.1.H,14:41:00,14:42:00,8503051:0:1,4,0,0
4,1.TA.91-10-A-j24-1.1.H,14:44:00,14:44:00,8503090:0:1,5,0,0
...,...,...,...,...,...,...,...
18576187,999.TA.96-188-5-j24-1.17.R,06:26:00,06:26:00,8506897,12,0,0
18576188,999.TA.96-188-5-j24-1.17.R,06:27:00,06:27:00,8506892,13,0,0
18576189,999.TA.96-188-5-j24-1.17.R,06:28:00,06:28:00,8573224,14,0,0
18576190,999.TA.96-188-5-j24-1.17.R,06:29:00,06:29:00,8506891,15,0,0
18576191,999.TA.96-188-5-j24-1.17.R,06:31:00,06:31:00,8573223,16,0,0

In [38]:
stop_times["stop_name"] = stop_times["stop_id"].apply(stop_id2stop_name.get)

In [39]:
stop_times.loc[
    stop_times["trip_id"].isin(
        stop_times.loc[stop_times["stop_id"].isin(local_stops_ids), "trip_id"]
    )
].sort_values(by=["trip_id", "departure_time"])

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name
3505,1.TA.91-C7-Y-j24-1.1.H,23:37:00,23:37:00,8501124:0:2,1,0,0,Cully
3506,1.TA.91-C7-Y-j24-1.1.H,23:39:00,23:39:00,8501123:0:1,2,0,0,Villette VD
3507,1.TA.91-C7-Y-j24-1.1.H,23:41:00,23:41:00,8501122:0:1,3,0,0,Lutry
3508,1.TA.91-C7-Y-j24-1.1.H,23:45:00,23:46:00,8501121:0:1,4,0,0,Pully
3509,1.TA.91-C7-Y-j24-1.1.H,23:49:00,23:49:00,8501120:0:7,5,0,0,Lausanne
...,...,...,...,...,...,...,...,...
5552322,999.TA.91-4-L-j24-1.59.R,18:21:00,18:21:00,8501202:0:2,15,0,0,Burier
5552323,999.TA.91-4-L-j24-1.59.R,18:23:00,18:23:00,8501203:0:2,16,0,0,Clarens
5552324,999.TA.91-4-L-j24-1.59.R,18:25:00,18:25:00,8501300:0:3,17,0,0,Montreux
5552325,999.TA.91-4-L-j24-1.59.R,18:29:00,18:30:00,8501303:0:2,18,0,0,Villeneuve VD
5552326,999.TA.91-4-L-j24-1.59.R,18:37:00,18:37:00,8501400:0:3,19,0,0,Aigle

In [26]:
trips.loc[trips["trip_id"] == "1061.TA.91-3-T-j24-1.1140.R"]

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id
179049,91-3-T-j24-1,TA+y1s00,1061.TA.91-3-T-j24-1.1140.R,St-Maurice,24395,1,NaN

In [22]:
routes.loc[routes["route_id"] == "92-6H-Y-j24-1"]

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
2246,92-6H-Y-j24-1,7231,B,NaN,B,700

In [8]:
agency.loc[agency["agency_id"] == "801"]

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
451,801,PostAuto AG,http://www.sbb.ch/,Europe/Berlin,DE,0848 44 66 88

In [14]:
local_routes = (
    trips.loc[
        trips["trip_id"].isin(
            stop_times.loc[stop_times["stop_id"].isin(local_stops_ids), "trip_id"]
        ),
        "route_id",
    ]
    .unique()
    .tolist()
)

In [15]:
local_routes

['91-1-M-j24-1',
 '91-2K-Y-j24-1',
 '91-2-R-j24-1',
 '91-33-C-j24-1',
 '91-3-T-j24-1',
 '91-41-Y-j24-1',
 '91-4-L-j24-1',
 '91-C7-Y-j24-1',
 '91-C9-Y-j24-1',
 '96-203-j24-1',
 '96-206-j24-1']

In [13]:
(trips.loc[
        trips["trip_id"].isin(
            stop_times.loc[stop_times["stop_id"].isin(local_stops_ids), "trip_id"]
        ),
        "trip_headsign",
    ]
    .unique()
    .tolist())

['Grandson',
 'Cully',
 'Lausanne',
 'St-Maurice',
 'Vevey',
 'Genève',
 'Genève-Aéroport',
 'Annemasse',
 'Aigle',
 'Bex',
 'Vallorbe',
 'Bussigny',
 'Cossonay-Penthalaz',
 'Le Day',
 'Pully',
 'Palézieux, gare',
 'Cully, gare',
 'Puidoux, gare',
 'Grandvaux, Pra Grana',
 'Cully, Hôpital de Lavaux']

In [18]:
routes.loc[routes['route_id'].isin(local_routes)]

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
105,91-1-M-j24-1,11,R1,NaN,R,106
211,91-2K-Y-j24-1,11,RE,NaN,RE,106
220,91-2-R-j24-1,11,R2,NaN,R,106
247,91-33-C-j24-1,11,RE33,NaN,RE,106
303,91-3-T-j24-1,11,R3,NaN,R,106
322,91-41-Y-j24-1,11,SN,NaN,SN,109
358,91-4-L-j24-1,11,R4,NaN,R,106
696,91-C7-Y-j24-1,11,EXT,NaN,EXT,117
699,91-C9-Y-j24-1,11,EXT,NaN,EXT,117
4245,96-203-j24-1,801,382,NaN,B,700
4247,96-206-j24-1,801,381,NaN,B,700

In [38]:
stop_times.loc[stop_times["stop_id"] , "trip_id"]

KeyError: "None of [Index(['8503054:0:1', '8503053:0:1', '8503052:0:1', '8503051:0:1',\n       '8503090:0:1', '8503088:0:22', '8505307:0:1', '8301307', '8506105:0:1',\n       '8506106:0:2',\n       ...\n       '8573229', '8506895', '8573228', '8573226', '8506889', '8506897',\n       '8506892', '8573224', '8506891', '8573223'],\n      dtype='object', length=18576192)] are in the [index]"